<!-- Affichage ecran computer -->
<div class="row">
  <div class="col-md-4 hidden-xs">
    <h4>CONSOMMATION ENERGETIQUE</h4>
  </div>
  <div class="col-md-4 hidden-xs">
    <h4>EMISSION DE GAZ EFFET DE SERRE</h4>
  </div>  
</div>

<div class="row">
  <div class="col-md-4 hidden-xs">
    <%= render 'sales/shared/conso_energetique' %>  
  </div>

  <div class="col-md-4 hidden-xs">
    <%= render 'sales/shared/gaz_serre' %>
  </div>
</div>
<!-- FIN Affichage ecran computer -->

<!-- Affichage ecran smartphone -->
<div class="row">
  <div class="col-xs-12 hidden-lg hidden-md hidden-sm">
    <p class="title-conso-energy">CONSOMMATION ENERGETIQUE</p>
    <%= render 'sales/shared/conso_energetique' %>
    <div class="mb-20"></div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 hidden-lg hidden-md hidden-sm">
    <p class="title-conso-energy">EMISSION DE GAZ EFFET DE SERRE</p>
    <%= render 'sales/shared/gaz_serre' %>
  </div>
</div>
