#pages_agenceimmobiliere {
	
	.homepage-banner {
  		position: relative;
  		height: 100vh;
	}

	.homepage-banner-background {
		background: image-url('header.jpg') no-repeat fixed;
    @media (max-width: $small-screen) {
      background: image-url('header-mobile.jpg');
      background-repeat:no-repeat;
      background-size: cover;
    }
    @media (max-width: $medium-plus-screen-up) {
      background: image-url('header-ipad.jpg');
      background-repeat:no-repeat;
      background-size: cover;
    }
  	position: absolute;
  	width: 100%;
  	height: 100%;
  	background-size: cover;
	}

	.homepage-banner-content {
		color:white;
  		position: relative;
  		top: 40%;
  		transform: translateY(-50%);
  		text-align: center;
  		z-index: 10;
  		h1 {
    		@media (max-width: $medium-screen) {
      		font-size: 3rem;
    	}
    	h2 {
    		font-size:3rem;
    	}
    	font-size: 4.5rem;
    	line-height: 110%;
    	letter-spacing: 0.1rem;
    	margin: 2.1rem 0 1.68rem 0;

  	}
  }

  .picto {
  width:175px;
  }

  .align-picto {
    display:flex;
    justify-content:space-around;
  }


}