/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */


body {
	font-family: 'Open Sans', sans-serif;
}

.top {
	position:relative;
}



.logo {
	color: #404040;
}

.titre h1{
	font-size:44px;
	color: #191919;
	margin-top:65px;
}

.titre h2 {
	font-size: 24px;
	color: #8F8F8F;
}


.content {
	background-color:#FAFAFA;
	font-family: 'Open Sans', sans-serif;
	height:auto;
}

.no-border {
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}

.border-bottom {
	border-bottom: 1px solid rgba(0,0,0,.15);
}


.mt-100 {
	margin-top:100px;
}

.pl-80 {
	padding-left:80px;
}

.pl-270 {
	padding-left:270px;
}

.mb-50 {
	margin-bottom:50px;
}

.image {

}

.text_image {
	color:black;
}

.rowHeader {
	font-size:19px;
	line-height:24px;
	color:#484848 !important;
	margin-bottom: 24px !important;
}

.justify {
	text-align:justify;
}

.label{

    background: #00c767;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-family: Roboto,sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: normal;
    margin-right: .2em;
    min-width: 32px;
    padding: .2em .4em;
    text-align: center;
    text-transform: uppercase;
    vertical-align: 5px;
    margin-top:25px;
}


.price_title {
	font-size:24px;
}