#posts_index {

	.btn-danger {
		background: #C2413B;
	}
	
	.vignettearticle {
		height:200px;
		width:200px;
		background-size: cover;
	}

	.post-thubnail {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2em;
    min-height: 200px;
    background-color: #fff;
    -webkit-box-shadow: 3px 6px 16px 0px rgba(0,0,0,0.1);
    box-shadow: 3px 6px 16px 0px rgba(0,0,0,0.1);
    border-radius: 2px;
    border-left: 7px solid #C2413B;
    overflow: hidden;
    margin-top:18px;

    }
    .post-category {
    	padding: 3px 5px 1px;
    	margin-right: 10px;
    	background-color: #C2413B;
    	border-radius: 2px;
    	color: white;
    	font-size: 0.7em;
    	text-transform: capitalize;
    }

    .post-text {
    	text-align: justify;
    	text-justify: inter-word;
    }

    .post-date {
    	margin-top:8px;
    }

    .post-author {
	
    margin-top: 2em;
    
    background-color: #fff;
    -webkit-box-shadow: 3px 6px 16px 0px rgba(0,0,0,0.1);
    box-shadow: 3px 6px 16px 0px rgba(0,0,0,0.1);
    border-radius: 2px;
    padding-right: 10px;
    padding-left: 10px;
    overflow: hidden;
    margin-top:18px;

    	h4 {
    		font-size:18px;
    	}

    	p {
    		font-size:13px;
    	}

    	.line {
    		border-top: 1px solid #C2413B;;
    		padding: 15px 0 0 0;
    		text-transform: uppercase;
    		font-size: 11px;
    	}
    }

    .post-reseaux {
    	padding-left:20px;

    	ul {

    	}

    	li {
    		display:inline;
    	}
    }
}