<div class="hidden-xs">
	<div class="container-fluid">
		
		<div class="color-section-banner-contact pt-40 pb-40">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h2 class="icon">
							<li><a href="https://www.facebook.com/alcordani3G/" target="_blank"><i class="fa fa-facebook"></i></a></li>
							<li><a href="https://www.instagram.com/3gimmobilier_alexandre_cordani" target="_blank"><i class="fa fa-instagram"></i></a></li>
							<li><a href="https://www.youtube.com/user/alcordani" target="_blank"><i class="fa fa-youtube"></i></a></li>
							
						</h2>
					</div>
					<div class="col-md-3">
						
						<p style="text-align:center; color:white; text-transform:bold;">
							<b style="font-size:19px;">PARLONS DE VOTRE PROJET</b></br>
							<b style="font-size:19px;">06 98 85 38 74</b>
						</p>
					</div>
					<div class="col-md-3">
						
						<p style="text-align:center; color:white; text-transform:bold;">
							<b style="font-size:19px;">EMAIL</b></br>
							<b style="font-size:19px;">alcordani@gmail.com</b>
						</p>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>