<div class="row">	
	<div class="col-md-6">
		<div class="color-grey pt-40">
			<h4>Pour son cadre de vie</h4>
			<p>Saint-Maur-Des-Fossés est située dans une boucle de la marne.</p>
			<p>Les Saint-Mauriens ont donc un cadre de vie <b>paisible</b> et <b>agréable</b>.</p>
			<p>La commune s'est engagée dans des actions en faveur de <b>l'environnement</b>.</p>
			<p>Un bon exemple est celui-ci : L'usage des produits chimiques pour désherber les voiries est interdit depuis le 1er janvier 2017.</p>
		</div>
	</div>
	<div class="col-md-6">
		<%= image_tag(('marne-saintmaurdesfosses.jpg'), alt:"Bords de Marne de Saint Maur", width:'100%')%>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<%= image_tag(('paris-saintmaur.jpg'), alt:"Paris-SaintMaur", width:'100%') %>
	</div>
	<div class="col-md-6">
		<div class="color-grey pt-40">
			<h4>Pour sa proximité avec <b>Paris</b> et sa future gare du <b>Grand Paris</b></h4>
			<p>Saint-Maur-Des-Fossés dispose de 4 stations de RER.</p>
			<ul>
				<li><p>  Saint-Maur Creteil ou sera placée la future gare du <b>Grand Paris</b>.</p></li>
				<li><p> Le Parc Saint-Maur, très proche de la <b>mairie de Saint-Maur</b>.</p>
				<li><p> Champigny - Saint Maur, avec l'accès directe à la ville de <b>Champigny Sur Marne</b>.</p></li>
				<li><p>  Et La Varenne Chennevières, gare permettant l'accès au <b>quartier de la Varenne</b>.</p></li>
			</ul>
		</div>
	</div>
</div>

