<div class="container">
	<div class="row">
		<div class="col-md-4 hidden-xs">
			<p style="color:#8f8f8f; text-align:justify">Votre bien est diffusé sur plus de 20 sites internets différents.</p>
		</div>
		<div class="col-md-8 hidden-xs">
			<div class="flex-site">
				<%= image_tag(("seloger-logo.png"), class:"") %>
			
			
				<%= image_tag(("leboncoin-logo.png"), class:"") %>
			
			
				<%= image_tag(("logicimmo-logo.png"), class:"") %>
			</div>
		</div>
	</div>
</div>