<% content_for :meta_title, "Agence Immobilière Saint Maur Des Fossés - Alexandre Cordani- Mandataire Immobilier 3G Immobilier" %>
<% content_for :meta_description, "Votre agence immobilière à Saint-Maur Des Fossés vous permettra de vendre et d'acheter rapidement grace à l'expertise d'Alexandre Cordani, mandataire immobilier au sein du reseau 3G Immobilier." %>

<div class="homepage-banner">
	<div class="homepage-banner-background"></div>
	<div class="homepage-banner-content">
    	<h1>Agence Immobilière à Saint-Maur-Des-Fossés</h1>
    	<h2>Alexandre Cordani</h2>
   		<h3>Mandataire immobilier à Saint-Maur-Des-Fossés</h3> 
   		<div class="mt-100"></div> 
   		<h1> 06 98 85 38 74 </h1>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class=" col-md-5">
			<div class="mt-50"></div>
			Présentation
			<h1 style="color:#484848; font-size:30px;">AGENCE IMMOBILIERE SAINT-MAUR-DES-FOSSES</h1>
				<p style="color:#ccc;">Je me présente, je m'appelle Alexandre Cordani, je suis mandataire immobilier au sein du reseau 3G Immobilier</p>
				<p style="color:#ccc;">Je vous propose mes services pour estimer, vendre ou acheter votre appartement ou votre maison sur la commune de Saint-Maur-Des-Fossés et de La Varenne Saint-Hilaire.</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="mt-100">
		<div class="row">
			<div class=" col-md-5">
				Annonces Immobilières
				<h1 style="color:#484848; font-size:30px;" class="rowHeader">NOTRE SELECTION</h1>
				<p style="color:#ccc;">Nous vous proposons une selection de nos offres immobilères principalement sur la commune de Saint-Maur-Des-Fossés et de la Varenne Saint-Hilaire.</p>
				<p style="color:#ccc;">Si vous ne trouvez pas ce que vous recherchez dans cette selection de 'Agence Immobilière Saint-Maur-Des-Fossés- Alexandre Cordani, merci de m'appeler sur mon portable au 06 98 85 38 74 afin que je puisse prendre en considération votre demande.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<%= render 'shared/sales' %>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="subtitle "></div>
		</div>
	</div>
</div>
<%= render 'shared/site' %>

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="subtitle "></div>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col-md-5">
		<div class="mt-50"></div>
			Nous situer
		<div class="mt-50"></div>
		<h1 style="color:#484848; font-size:30px;">MANDATAIRE IMMOBILIER SAINT-MAUR-DES-FOSSES</h1>
		<p style="color:#ccc;">Je me deplace à domicile. Mon experience professionnelle (18 ans d'immobilier sur la commune de Saint-Maur-Des-Fossés) me permet d'avoir une expertise professionnelle du métier d'agent immobilier.</p>
		</div>
	</div>
</div>
<%= render 'shared/map-home' %>