<% content_for :meta_title, "Nouveau projet - Opportunité d'affaire" %>
<% content_for :meta_description, "Vous recherchez un projet innovant, une nouvelle facon d'entrprendre, alors cette page est faite pour vous." %>

<div class="image-top-concept">

</div>


