<% content_for :meta_title, "Estimation immobilière gratuite Saint Maur Des Fossés - Alexandre Cordani- Mandataire Immobilier 3G Immobilier" %>
<% content_for :meta_description, "Je vous propose Votre estimation gratuite de votre maison ou de votre appartement sur Saint-Maur-Des-Fossés ou sur La Varenne Saint-Hilaire. " %>

<div class="homepage-banner">
	<div class="homepage-banner-background"></div>
	<div class="homepage-banner-content">
    	<h1>Quelle est la valeur de votre <span class="element"></span></h1>
    	<h2>Alexandre Cordani</h2>
   		<h3>Mandataire immobilier à Saint-Maur-Des-Fossés</h3> 
   		<div class="mt-100"></div> 
   		<h1> 06 98 85 38 74 </h1>
	</div>
</div>