<% content_for :meta_title, "Estimation immobilière gratuite Saint Maur Des Fossés - Alexandre Cordani- Mandataire Immobilier 3G Immobilier" %>
<% content_for :meta_description, "Je vous propose Votre estimation gratuite de votre maison ou de votre appartement sur Saint-Maur-Des-Fossés ou sur La Varenne Saint-Hilaire. " %>

<div class="homepage-banner">
	<div class="homepage-banner-background"></div>
	<div class="homepage-banner-content">
    	<h1>Quelle est la valeur de votre <span class="element"></span></h1>
    	<h2>Alexandre Cordani</h2>
   		<h3>Mandataire immobilier à Saint-Maur-Des-Fossés</h3> 
   		<div class="mt-150"></div> 
   		<h2> 06 98 85 38 74 </h2>
   		<div class="container">
   			<div class="row">
   				<div class="col-md-4 col-md-offset-4">
   					<div class="estimation">
    					<a href="#form_estimation">
      						JE DEMANDE UNE ESTIMATION
    					</a>
  					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="form_estimation">
	<%= render 'shared/contact' %>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3 class="mb-50">Accedez directement à quelques adresses estimées sur Saint-Maur-Des-Fossés</h3>
		</div>
	</div>
	<%= render 'shared/estimations' %>
</div>


<script>
    $(document).ready(function() {
        $('.estimation > a').click(function(e) {
            $('html, body').animate({
                scrollTop: $('#form_estimation').offset().top
            }, 10000);
            e.preventDefault();
        });
    });
</script>

