<div class="container">
	<div class="top">
		<div class="row">
			<div class="col-md-6">
				<div class="titre">
					<h1>Entrepreneur </h1>
					<h2>Agent Immobilier - Developpeur Ruby on Rails </h2>
				</div>
			</div>
			<div class="col-md-6">
				<%= image_tag("moi.png") %>
			</div>
		</div>
	</div>
</div>
<div class="content">
	<div class="container-fluid">
		<div class="container">
			<div class="row">

				fff
				fff
				ff
			</div>
		</div>
	</div>
</div>
