<div class="container-fluid">
	<div class="row">
		
		<div class="col-md-3 relative">
			<div class="fixed">
			<ul>
				<li>
              <%= link_to "#bienvenue" do %>
                Bienvenue
              <% end %>
            </li>
            <li>
              <%= link_to "#demarrage" do %>
                 Le Démarrage
              <% end %>
            </li>
           </ul>
			</div>
		</div>
		<div class="col-md-9 content">
			<div id="bienvenue">
				<h1>Bienvenue</h1>
				<h2>Qu'est-ce-que vous trouverez dans ce guide ?</h2>
				<p>Ce guide vous permettra de trouver beaucoup d'informations sur le B2U, sur Beautysané et sur NL.</p>
				<p>Sur la gauche, vous avez le sommaire. Cliquez sur le lien qui vous convient. Le site vous amenera directement à la page demandée.</p>
			</div>
			<div id="demarrage">
				<h1>Le démarrage</h1>
				<h2>Comment bien démarrer ?</h2>
				<b>Le plus important est de passer des doutes aux convictions.</b>
				<div class="mt-20"></div>

				<p>1. 1ere commande de produits et 1er Kit de démarrage:</p>

				<p>10 boites ED + Anteox + Oméga3 + Energy Pure</p>
				<p>On doit faire passer une commande car c’est très important d’avoir des convictions sur le produit avant de demarrer</p>

2. Elements de demarrage
	Des Livres
	———————-
-L’entreprise du 21eme siècle 
-GoPro
-Vivre Mince, mieux et plus longtemps

	Des Aides à la vente
	———————————————
-Plaquettes …

	CD Audio
	———————-
	-Francky Batelier
	-Stephane Lataillade(Invitation)
	-Abonnement CD
	
	Formation
	————————
*Très important car cela permet de reprendre de l’énergie.*

	-Webinaire
	-Seminaire
	-Congrès
	-Webinaire

3. Le Pact’Demarrage
C’est un engagement moral - Cela permet e voir à quel rythme nous allons avancer avec la personne nouvellement inscrite.

4. Plan d’action du 1er mois.
Il est important d’voir du rythme.
* Pourquoi la personne a démarré ?
« Je veux 500€/1000€/mois. Je veux créer ma société, je veux faire une reconversion pro. »
*Le but étant d’amener les gens sur leurs objectifs.*

L’idéal est de trouver rapidement leurs premiers clients et leurs premiers OM.
Pour ce faire, nous allons chercher le prospect naturel.
« Est-ce que tu veux qu’on rencontre ces personnes dont tu m’as parlé pour leur proposer l’affaire »
Pourquoi ?
Ca va permettre de mettre ces personnes dans une *dynamique du succès*.
Il faut que la personne trouve l’activité sympa et conviviale car les nouveaux sont fragiles.
Il faut que la personne quand on a terminé les actions me disent « C’était super sympa , j’ai passé un bon moment »

Ensuite il y a la notion de rythme et de délai.
*« Voilà ce qu’on va faire ensemble … »*
« Je veux mettre mon experience, mes connaissances et mes compétences à ta disposition pour t’aider dans ton projet. »
« Il faut que tu puisses t’approprier toutes ces connaissances afin que tu puisses t’en servir rapidement ».

On va planifier des dates de presentations d’opportunité dans la semaine, dans les 15jours et dans le mois.

Ensuite, on va travailler la liste de noms.

Mettre tous les gens que nous connaissons de près ou de loin sur une liste sans juger à leur place.
« Lui, il est trop riche, lui il est trop maigre, lui, il n’a pas de temps … »
			</div>
		</div>
			<p>ff</p>
			<p>ff</p>
			<p>hhh</p>
			<p>ff</p>
			<p>ff</p>
			<p>hhh</p>
			<p>ff</p>
			<p>ff</p>
			<p>hhh</p>
			<p>ff</p>
			<p>ff</p>
			<p>hhh</p>
			<p>ff</p>
			<p>ff</p>
			<p>hhh</p>
			<div id="histoire">
				<p>histoire</p>
				<p>ff</p>
			</div>
		</div>
	</div>
</div>