<% content_for :meta_title, "Alexandre Cordani - Photo Immobilière en Ile de France." %>
<% content_for :meta_description, "Alexandre Cordani - Votre photographe immobilier. Illuminez vos photos immobilières grace à notre systeme HDR." %>



<div class="jumbotron">
	<h2 class="text-center title-photo">Démarquez-vous par la photo immobilière !</h2>
	<h3 class="text-center subtitle-photo">Shooting Photo dans le 94-93-92-91-77</h3>
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-md-offset-5 mt-30">
				<button class="btn btn-danger">En savoir plus</button>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid bandeau pt-30 pb-30">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center">
			<h2>ILLUMINEZ VOS PHOTOS IMMOBILIERES</h2>
			<h3 style="color:white;"> Et augmenter le nombre de coups de coeur . </h3>
		</div>
	</div>
</div>
