<div class="container">
	<div class="row">
		<h1> Je m'appelle <span class="text-shadow"> Alexandre Cordani </span></h1>
		
		<h2>  Je suis là pour vous <span class="text-shadow">faire gagner du temps </span></h2>
		<h2> Je permets à tous mes clients de trouver exactement <span class="text-shadow">le bien immobilier de leur rêve</span></h2>
		<h2> <span class="text-shadow">Mon métier : Agent immobilier</span></h2>
		<h2> Ma ville : <span class="text-shadow">Saint-Maur-Des-Fossés</span></h2>
	</div>
	<div class="row">
		<div class="col-md-2 col-md-offset-5 text-center mt-100">
			<button class="hire_me btn btn-primary btn-lg">Hire me</button>
		</div>
	</div>
</div>

<div class='modal'>
      <div class='modal-container'>
        <div>
          <div>
          aaa
          </div>
          <div>aaa.</div>
        </div>