

.energy {
    color:white;
    padding: 10px;
    margin-bottom:0;
    font-size:10px;
}

.color-a {
    background: #00933d;
    
}

.color-a2 {
    background:#bc91d8;
}

.color-b {
    background: #01a143;
}

.color-b2 {
    background: #AD4CD7;
}

.color-c {
    background: #6bc72a;
}

.color-c2 {
    background: #B86CD9;
}

.color-d {
    background: #d7e100;
}

.color-d2 {
    background:#AD4CD9;
}

.color-e {
    background: #ffb12a;
}

.color-e2 {
    background: #AE2CD4;
}

.color-f {
    background: #e38503;
}

.color-f2 {
    background: #9A0ACC;
}

.color-g {
    background: #e12229;
}

.color-g2 {
    background: #8500CD;
}


.number_class_energy {
    font-size:13px;
    margin-bottom:0px;
}

@media only screen and (max-width: 768px) {
    .title-conso-energetique {
      font-size:14px !important;
    }
}



