.mb-10 {
	margin-bottom:10px;
}

.mb-20 {
	margin-bottom:20px,
}

.mb-30 {
	margin-botom:30px;
}

.mb-50 {
	margin-bottom:50px;
}

.mt-20 {
	margin-top:20px;
}

.mt-30 {
	margin-top:30px;
}
.mt-50 {
	margin-top:50px;
}

.mt-70 {
	margin-top:70px;
}

.ml-40 {
	margin-left:40px;
}

.without_margin {
	margin:0;
}