<% @posts.each_slice(3) do |pp| %>
	<% pp.each do |post| %>
		<h1><%= post.metadata[:meta_title].html_safe %></h1>
		<%= post.metadata[:description] %>
		
		<%=  image_tag post.metadata[:thumbnail] %>

	<% end %>
<% end %>
